@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

body {
    background-image: url("../images/bg.jpg");
    background-color: #000;
    background-size: cover;
    color: #fff;
    font-family: 'Sanchez', serif;
}

.test {
    color: #f00;
}

/*** NavBar ***/
.navbar-brand {
    margin: 15px auto;
    display: block;
}

.navbar {
    background-color: #000;
    border-bottom: 15px solid #292929;
}

.navbar.box-shadow {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
    }

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

a.nav-link {
    color: #fff;
    text-transform: uppercase;
}

.navbar-dark .navbar-toggler {
    margin: 0 auto;
    width: 110px;
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}

/*** Store Page ***/

.product__row {
    display: flex;
    justify-content: space-between;
}

.product__card {
    max-width: 48%;
    text-align: center;
}
