@page
@model Net_Core_Art_Store.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
}


<h1>Detail</h1>

<div class="detail__container">
    <div class="detail__row">
        <div class="detail__image-container">
            <img src="~/images/wave.jpg" class="detail__image img-fluid">
            <div class="detail__click-here">
                Click Here for Fullscreen View
            </div>
        </div>

        <div class="detail__card">
            <h2 class="detail__title">
                Back To The FM
            </h2>
            <h3 class="detail__price">
                $19.99
            </h3>
            <div class="detail__artist">
                by Other Guy
            </div>
            <div class="detail__dimensions">
                Size: 30 x 40 in (150 x 80 cm)
            </div>
            <div class="detail__payment">
                Paypal button
            </div>
        </div>
    </div>
    <div class="detail__description">
        <p>Detail:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>