@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 home__title">It's a Poster Store</h1>
    <p>Where you can buy posters.</p>
</div>

<div class="test">
    Test
</div>
