@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="product__container">
    <div class="product__row">
        <div class="product__card">
            <img src="~/images/wave.jpg" class="product__image img-fluid">
            <h2 class="product__title">
                The Great Wave off Dragon Roost Island
            </h2>
            <h3 class="product__price">
                $19.99
            </h3>
            <div class="product__artist">
                by Diem
            </div>
        </div>

        <div class="product__card">
            <img src="~/images/future.jpg" class="product__image img-fluid">
            <h2 class="product__title">
                Back To The FM
            </h2>
            <h3 class="product__price">
                $19.99
            </h3>
            <div class="product__artist">
                by Other Guy
            </div>
        </div>
    </div>
    <div class="product__row">
        <div class="product__card">
            <img src="~/images/boco.jpg" class="product__image img-fluid">
            <h2 class="product__title">
                Ramza and Boco
            </h2>
            <h3 class="product__price">
                $19.99
            </h3>
            <div class="product__artist">
                by Diem
            </div>
        </div>
    </div>
</div>

